<!-- Registration Start -->
<div class="container-fluid bg-registration py-5" style="margin: 90px 0;">
    <div class="container py-5">
        <div class="row align-items-center">

            <div class="col-lg-5">
                <div class="card border-0">
                    <div class="card-header bg-light text-center p-2">
                        <h1 class="m-0">Add Course</h1>
                    </div>
                    <div class="card-body rounded-bottom bg-primary p-4">
                        <form [formGroup]="courseForm">
                            <div class="form-group">
                                <input type="text" class="form-control border-0 p-3" formControlName="name"
                                    placeholder="Name Course" />
                            </div>
                            <div *ngIf="courseForm.controls['name'].invalid &&
                    (courseForm.controls['name'].dirty || courseForm.controls['name'].touched)
                    ">
                                <div *ngIf="courseForm.controls['name'].errors.required">Name Course is required</div>
                                
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control border-0 p-3" formControlName="description"
                                    placeholder="Description Course" />
                            </div>
                            <div *ngIf="courseForm.controls['description'].invalid &&
                            (courseForm.controls['description'].dirty || courseForm.controls['description'].touched)
                            ">
                                <div *ngIf="courseForm.controls['description'].errors.required">Description is required</div>
                                
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control border-0 p-3" formControlName="duration"
                                    placeholder="Duration Course" />
                            </div>
                            <div *ngIf="courseForm.controls['duration'].invalid &&
                            (courseForm.controls['duration'].dirty || courseForm.controls['duration'].touched)
                            ">
                                <div *ngIf="courseForm.controls['duration'].errors.required">Duration is required</div>
                                
                            </div>
                            <div class="form-group text-center mt-3">
                                <input type="submit" (click)="addCourse()" [disabled]="courseForm.invalid"
                                    class="btn btn-dark btn-block border-0 py-1 mt-3" value="Add Course">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 mb-5 mb-lg-0">
                <div class="mb-4 text-right">
                    <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Add Course</h5>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Registration End -->